@import "tailwindcss";

/* 1. Global font */
* {
  font-family: 'Rubik', sans-serif;
}

/* 2. Optional class to use Epilogue for specific elements */
.epilogue {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  display: hidden;        
}
body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}


a.active hr {
  @apply block;
}


@media (max-width: 640px) {
  a.active {
    @apply bg-black text-white;
  }
}
